@model Storyphase.Models.ViewModels.StoriesViewModel
@using Storyphase.Extensions
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Create Story</h2>
<form method="post" enctype="multipart/form-data" asp-controller="StoriesList" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Stories.Title"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.Stories.Title" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Stories.Title" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Stories.Description"></label>
            </div>
            <div class="col-5">
                <input asp-for="Stories.Description" class="form-control" />
            </div>
            <span asp-validation-for="Stories.Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Stories.Image"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="StoryTypes"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Stories.StoryTypeId" asp-items="Model.StoryTypes.ToSelectListItem(Model.Stories.StoryTypeId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpecialTags"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Stories.SpecialTagId" asp-items="Model.SpecialTags.ToSelectListItem(Model.Stories.SpecialTagId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PrivacyTags"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Stories.PrivacyTagId" asp-items="Model.PrivacyTags.ToSelectListItem(Model.Stories.PrivacyTagId)" class="form-control"></select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

