@model List<Storyphase.Models.StoryBlocks>
@using Storyphase.Utility


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#playButton').click(function () {
            $('#playButton,#pauseButton').toggle();
            $('#carouselControls').carousel('cycle');
        });
        $('#pauseButton').click(function () {
            $('#playButton,#pauseButton').toggle();
            $('#carouselControls').carousel('pause');
        });

        $("#SortableGallery").sortable();
    });
</script>
<br />
<style>
    #carouselControls {
        margin: 30px;
    }

    .carousel-indicators {
        top: -90px;
    }

        .carousel-indicators li, .carousel-indicators li.active {
            position: relative;
            left: 20px;
            margin: 20px 36px !important;
        }

    .circle-btn {
        position: relative;
        padding: 0;
        left: 0;
        -webkit-box-shadow: 10px 6px 10px 0 rgba(0,0,0,0.3);
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
        border-radius: 50%;
        height: 60px;
        width: 60px;
        transition: 0.2s;
        font-size: larger;
        text-align: center;
        border: hidden;
        background-color: #4CAF50;
        color: white;
    }

        .circle-btn:hover {
            cursor: pointer;
            background-color: #26932b;
            box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3);
        }

    .list-group-horizontal .list-group-item {
        display: inline-block;
        border: hidden;
    }

    .list-group-horizontal .list-group-item {
        margin-bottom: 0;
        margin-left: -4px;
        margin-right: 0;
    }
</style>

@if (User.IsInRole(SD.AdminUser))
{
    <div class="">
        <ul class="list-group">
            <li class="list-group-item" style="border:hidden">
                <h4>Blocks of Current Story</h4>
                <div class="text-right">
                    <a asp-action="UpdateOrder" class="btn btn-info"><i class="fas fa-save"></i>&nbsp; Save Order</a>
                </div>
            </li>
        </ul>
       
        <ul id="SortableGallery" class="list-group-horizontal" style="padding-inline-start: 5px;">
            @foreach (var item in @Model)
            {
                <li class="list-group-item col-md-3">
                    <div style="float: left;">
                        <label asp-for="@item.StoryBlocksId">@item.Name</label>
                        <img class="img-fluid" src="@item.Image" />
                    </div>
                </li>

            }
        </ul>
    </div>
}

<button id="pauseButton" class="circle-btn"><i class="fa fa-pause"></i></button>
<button id="playButton" style="display:none;" class="circle-btn"><i class="fa fa-play"></i></button>

<!--Carousel controls -->
<div class="container">

    <div id="carouselControls" class="carousel slide img-thumbnail" data-ride="carousel" data-interval="2000">

        <div class="carousel-inner">
            @{
                var first = true;
            }
            @foreach (var item in @Model)
            {
                <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">

                    <div class="card-title">
                        <input asp-for="@item.Name" diabled class="form-control" />
                    </div>
                    <img class="d-block w-100" src="@item.Image" alt="@item.Name">

                    <div class="tab-content">
                        <input asp-for="@item.Content" diabled class="form-control" />
                    </div>
                </div>
                first = false;

            }

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carouselControls" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        <!--
            <a class="carousel-control-prev" href="#carouseControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouseControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        -->
        <div class="">
            <ol class='carousel-indicators'>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <li data-target='#carouselControls' data-slide-to='@i' class="active">
                        <img class="d-block" style="width: 100px;" src="@Model[i].Image">
                    </li>
                }
            </ol>
        </div>
    </div>
</div>
@section Scripts {

}