@model IEnumerable<Storyphase.Models.Stories>
@{
    ViewData["Title"] = "Index";
}
<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Story List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Story </a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Title)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.StoryTypes)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.SpecialTags)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PrivacyTags)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CreateTime)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Title)
            </td>
            <td>
                @Html.DisplayFor(m => item.StoryTypes.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.SpecialTags.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.PrivacyTags.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.CreateTime)
            </td>
            <td class="btn-group">
                @await Html.PartialAsync("_TableButtonPartial", item.Id)
            </td>
        </tr>
        }
    </table>
</div>
