@model Storyphase.Models.ViewModels.StoriesViewModel
@using Storyphase.Utility
@using Storyphase.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<link rel="stylesheet" href="~/css/comment.css">
<style>
</style>
<br />

<h2 class="text-info">Story Details</h2>
<form method="post">
    <div class="p-4 border rounded row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">

            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Stories.Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Stories.Title" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Stories.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Stories.Description" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StoryTypes"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Stories.StoryTypes.Name" class="form-control" readonly />
                </div>
            </div>

            @if (Model.Stories.SpecialTags.Name != "--None--")
            {
                <div class="form-group row">

                    <div class="col-4">
                        <label asp-for="SpecialTags"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="Stories.SpecialTags.Name" class="form-control" readonly />
                    </div>

                </div>
            }

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PrivacyTags"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Stories.PrivacyTags.Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">
                    <a asp-action="BlockShow" class="btn" style="width: 100%; background-color: hotpink; color: white;" asp-route-id="@Model.Stories.Id">Show Story</a>
                </div>
            </div>

        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Stories.Image" style="width:100%; border-radius:5px; border:1px solid #bbb9b9" class="align-items-center" />
            <br /><br />
            @{
                if (User.IsInRole(SD.AdminUser) || User.IsInRole(SD.User))
                {


                    bool isInFavorite = false;
                    List<int> lstFavorite = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssFavorite");
                    if (lstFavorite != null && lstFavorite.Contains(Model.Stories.Id))
                    {
                        isInFavorite = true;

                    }

                    if (isInFavorite)
                    {
                        <button type="submit" value="Remove From Favorite" asp-action="Remove" asp-route-id="@Model.Stories.Id" class="btn btn-danger form-control">Remove From Favorite</button>

                    }
                    else
                    {
                        <button type="submit" value="Add to Favorite" asp-route-id="@Model.Stories.Id" class="btn btn-outline-primary form-control">Add to Favorite</button>
                    }
                }
            }
        </div>

        <br />
        <div class="form-group">
            <input hidden asp-for="@Model.Stories.Id" />
            <a asp-action="Index" class="btn btn-success"><i class="fas fa-check-circle"></i>&nbsp;Back to List</a>
        </div>
    </div>
    <br />
    <div>
        @if (User.IsInRole(SD.AdminUser) || User.IsInRole(SD.User))
        {
            <a asp-action="AddComment" asp-route-id="@Model.Stories.Id" class="btn btn-outline-info float-right"><i class="fas fa-plus"></i>&nbsp; Add New Comment</a>
        }
        <h3>Comments</h3>

        @if (Model.Comments.Count() > 0)
        {
            <section class="comments">

                @for (int i = 0; i < Model.Comments.Count(); i++)
                {
                    <article class="comment">
                        <a class="comment-img" href="#non">
                            <img class="avatar" src="~/images/default-avatar.jpg" alt="" />
                        </a>
                        @if (User.IsInRole(SD.AdminUser) || (User.IsInRole(SD.User) && User.Identity.Name == Model.Comments[i].UserName))
                        {

                            <a id="delete-btn" class="btn float-right" style="color:#dc3545; border:1px solid #dc3545" onclick="deleteAlert('@Url.Action("DeleteComment", "Stories", new { id = Model.Comments[i].Id})')">
                                <i class="fas fa-trash"></i>
                            </a>
                        }
                        <div class="comment-body">
                            <div class="text" style="width:80%">
                                <p> @Model.Comments[i].Content</p>
                            </div>
                            <p class="attribution">by <a href="#non">@Model.Comments[i].UserName </a> at @Model.Comments[i].CreateTime</p>
                        </div>
                    </article>
                }
            </section>
        }
        else
        {
            <section> No Comments yet...</section>
        }
    </div>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.js"></script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">
    function deleteAlert(url) {
        var x = confirm("Do you really want to delete this?");
        if (x == true) {
            $.ajax({
                type: 'POST',
                url: url,
                success(response) {
                    if (response.success) {
                        alert("Success!")
                        location.reload();
                    }
                    else {
                        alert("Error");
                    }
                }
            });
        }
        else {
        }

    }
</script>