@model IEnumerable<Lab11.Models.Comment>
<!--
  Lectures.cshtml - display ordered list of all lectures

  Jim Fawcett, CSE686 - Internet Programming, Spring 2019
-->

@{
  ViewData["Title"] = "Comments";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comments</h1>
<br />
<p>
    <a asp-action="Index">Create New Comment on Story</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Username)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Content)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Story)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td style="padding: 0.1em;">
          @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td style="padding: 0.1em;">
          @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td style="padding: 0.1em;">
          @Html.DisplayFor(modelItem => item.Story.Title)
        </td>
        <td style="padding: 0.1em;">
            <a asp-action="EditComment" asp-route-id="@item.CommentID">Edit Comment</a> |
          @*<a asp-action="Details" asp-route-id="@item.LectureId">Details</a> |*@
            <a asp-action="DeleteComment" asp-route-id="@item.CommentID">Delete Comment</a>
        </td>
      </tr>
    }
  </tbody>
</table>

<div>
  <a asp-action="Index">Back to Course List</a>
</div>

