@model IEnumerable<Lab11.Models.Story>
<!--
  Index.cshtml - display list of all courses

  Jim Fawcett, CSE686 - Internet Programming, Spring 2019
-->

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Stories</h1>
<br />
<p>
    <a asp-action="CreateStory">Create New Story</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Description)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a asp-action="EditStory" asp-route-id="@item.StoryID">Edit Story</a> |
            <a asp-action="StoryDetails" asp-route-id="@item.StoryID">Story Details</a> |
            <a asp-action="DeleteStory" asp-route-id="@item.StoryID">Delete Story</a> |
            <a asp-action="AddComment" asp-route-id="@item.StoryID">Add Comment</a> |
            <a asp-action="Comments" asp-rout-id="@item.StoryID">View Comments</a>
        </td>
      </tr>
    }
  </tbody>
</table>
