@page
@model CRUD_Razor.Pages.StoryList.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Story List</h2>
<br />

@if(Model.Message != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}

<a asp-page="CreateStory" class="btn btn-primary">Create New Story</a>
<form method="post">
    @if (Model.Stories.Count() > 0)
    {
        <br /><br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Stories.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Stories.FirstOrDefault().Author)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Stories.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Stories.FirstOrDefault().CreateTime)
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.Stories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CreateTime)
                    </td>
                    <td>
                        <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</button>
                        <a asp-page="EditStory" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <br /><br />
        <div>No Story in the Database!</div>
    }
</form>
