@model IEnumerable<Storyphase.Models.StoryBlocks>

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Story Blocks List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Story Block</a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Image)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Stories)
            </th>
         
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Image)
                </td>
                
                <td>
                    @Html.DisplayFor(m => item.Stories.Title)
                </td>
                <td></td>
                <td style="width: 150px;">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@item.StoryBlocksId"><i class="fas fa-edit"></i></a>

                        <a class="btn btn-success text-white" asp-action="Details" asp-route-id="@item.StoryBlocksId"><i class="far fa-list-alt"></i></a>

                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.StoryBlocksId"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
                
            </tr>
        }
    </table>
</div>
